* {
    bg: #1e1e2e;
    bg-light: #313244;
    fg: #cdd6f4;
    blue: #89b4fa;
    selected: #45475a;
    
    background-color: transparent;
    text-color: @fg;
}

window {
    width: 800px;
    height: 600px;
    background-color: @bg;
    border: 3px;
    border-color: @blue;
    border-radius: 12px;
}

mainbox {
    background-color: @bg;
    padding: 20px;
}

inputbar {
    background-color: @bg-light;
    border-radius: 8px;
    padding: 12px 16px;
    children: [ prompt, entry ];
}

prompt {
    text-color: @blue;
    font: "Sans Bold 12";
}

entry {
    text-color: @fg;
}

listview {
    columns: 3;
    lines: 3;
    spacing: 15px;
}

element {
    orientation: vertical;
    background-color: @bg-light;
    border-radius: 10px;
    padding: 10px;
}

element-icon {
    size:100px;
    border-radius: 8px;
}

element-text {
    horizontal-align: 0.5;
    text-color: @fg;
    font: "Sans 10";
}

element selected {
    background-color: @selected;
    border: 2px;
    border-color: @blue;
    text-color: @blue;
}
