#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    show_song_table_header: true,
    draw_borders: true,
    browser_column_widths: [20, 30, 60],
    symbols: (song: "󰎈 ", dir: "󰉋 ", marker: " ", ellipsis: "..."),
    text_color: "#c1c1c1",
    tab_bar: (
        enabled: true,
        active_style: (bg: "#000000", fg: "#9b8d7f", modifiers: "Bold"),
        inactive_style: (fg: "#666666", modifiers: ""),
    ),
    highlighted_item_style: (fg: "#5f8787", modifiers: "Bold"),
    current_item_style: (fg: "#aaaaaa", bg: "#222222", modifiers: "Bold"),
    borders_style: (fg: "#333333", modifiers: "Bold"),
    highlight_border_style: (fg: "#8c7f70"),
    progress_bar: (
        symbols: ["┄", "┅", "━"],
        track_style: (fg: "#121212"),
        elapsed_style: (fg: "#9b8d7f"),
        thumb_style: (fg: "#5f8787"),
    ),
    scrollbar: (
        symbols: ["", "", "", ""],
        track_style: (fg: "#333333"),
        ends_style: (fg: "#333333"),
        thumb_style: (fg: "#8c7f70"),
    ),
    browser_song_format: [
        (
            kind: Group([
                (kind: Property(Track)),
                (kind: Text(" ")),
            ])
        ),
        (
            kind: Group([
                (kind: Property(Title)),
                (kind: Text(" - ")),
                (kind: Property(Artist)),
            ]),
            default: (kind: Property(Filename))
        ),
    ],
    song_table_format: [
        (
            prop: (kind: Property(Title), style: (fg: "#5f8787"),
                highlighted_item_style: (fg: "#000000", modifiers: "Bold"),
                default: (kind: Property(Filename), style: (fg: "#444444"),)
            ),
            width: "50%",
        ),
        (
            prop: (kind: Property(Artist), style: (fg: "#9b8d7f"),
                default: (kind: Text("Unknown Artist"), style: (fg: "#666666"))
            ),
            width: "45%",
        ),
        (
            prop: (kind: Property(Duration), style: (fg: "#8c7f70")),
            width: "10%",
            alignment: Right,
        ),
    ],
    header: (
        rows: [
            (
                left: [
                    (kind: Property(Status(StateV2(playing_label: " 🔊", paused_label: " ❚❚", stopped_label: " ⏹️"))), style: (fg: "#5f8787", modifiers: "Bold")),
                ],
                center: [
                    (kind: Property(Song(Title)), style: (fg: "#c1c1c1", modifiers: "Bold"),
                        default: (kind: Property(Song(Filename)), style: (fg: "#c1c1c1", modifiers: "Bold"))
                    )
                ],
                right: [
                    (kind: Text("Vol: "), style: (fg: "#8c7f70", modifiers: "Bold")),
                    (kind: Property(Status(Volume)), style: (fg: "#8c7f70", modifiers: "Bold")),
                    (kind: Text("% "), style: (fg: "#8c7f70", modifiers: "Bold"))
                ]
            ),
            (
                left: [
                    (kind: Property(Status(Elapsed)), style: (fg: "#c1c1c1")),
                    (kind: Text("/"), style: (fg: "#444444")),
                    (kind: Property(Status(Duration)), style: (fg: "#c1c1c1")),
                ],
                center: [
                    (kind: Property(Song(Artist)), style: (fg: "#9b8d7f", modifiers: "Bold"),
                        default: (kind: Text("Unknown Artist"), style: (fg: "#666666", modifiers: "Bold"))
                    ),
                ],
                right: [
                    (
                        kind: Property(Widget(States(
                            active_style: (fg: "#aaaaaa", modifiers: "Bold"),
                            separator_style: (fg: "#555555")))
                        ),
                        style: (fg: "#666666")
                    ),
                ]
            ),
        ],
    ),
    layout: Split(
        direction: Vertical,
        panes: [
            (
                size: "4",
                pane: Split(
                    direction: Horizontal,
                    panes: [
                        (
                            size: "100%",
                            pane: Split(
                                direction: Vertical,
                                panes: [
                                    (
                                        size: "4",
                                        borders: "ALL",
                                        pane: Pane(Header),
                                    ),
                                ]
                            )
                        ),
                    ]
                ),
            ),
            (
                size: "3",
                pane: Pane(Tabs),
            ),
            (
                size: "100%",
                pane: Split(
                    direction: Horizontal,
                    panes: [
                        (
                            size: "100%",
                            borders: "NONE",
                            pane: Pane(TabContent),
                        ),
                    ]
                ),
            ),
            (
                size: "3",
                borders: "TOP | BOTTOM",
                pane: Pane(ProgressBar),
            ),
        ],
    ),
)
